<div class="funny-disclaimer">
  <h2>I'm not a doctor, I just play one on the internet....</h2>
  <p>Seriously folks, I'm no Dr. Meredith Grey.  Heck, I'm not even Dr. Phil.  And this computer isn't a doctor either.  So you have to promise not to sue us if we tell you that you have a hangnail, but an actual doctor diagnoses you with the bubonic plague.  <span class="important">The legalese is below, but the gist of it is: if you think something might be wrong with you, see a REAL doctor.</span></p>
</div>
<div class="disclaimer">
  {{> disclaimer-text}}
</div>
<form class="start" action="#" method="post">
  <button type="submit" name="accept-disclaimer" id="accept-disclaimer" data-clickable="acceptDisclaimer">I Promise I Won't Sue You</button>
</form>
