<div class="disclaimer">
  <h2>Disclaimer</h2>
  {{> disclaimer-text}}
</div>
<form class="start" action="#" method="post">
  <button type="submit" name="accept-disclaimer" id="accept-disclaimer" class="js-clickable">I Agree, Continue</button>
</form>
