<h2>Oh No, Something Went Wrong!</h2>
<p>Please try again later.  If the problem persists, please send an email to <a href="mailto:amanda@amandareilly.me">the webmaster</a>.</p>
<a href="#" id="start-over" class="js-clickable">Start Over</a>