<h1 class="symptom-checker">Symptom Checker</h1>
<nav class="symptom-checker">
  <ul>
    <li><a href="#" data-clickable="symCheckStartOver" id="sym-check-start-over">Start Over</a></li>
  </ul>
</nav>
