<div.heading>
  <h1 class="home">Am I Sick, or Just Tired?</h1>
  <p class="sub-heading">An Internet Diagnosis Engine</p>
</div.heading>
<nav class="symptom-checker">
  <ul>
    <li><a href="#" data-clickable="startOver" id="start-over">Start Over</a></li>
  </ul>
</nav>
