<div class="instructions">
  <p>Everyone has a moment where they feel a twinge, or feel like they are coming down with something, but are not sure if it warrants a call to the doctor, or a trip to the emergency room.  This usually results in a trip down the internet "rabbit-hole" in search of answers.  We then waste hours or days convincing ourselves that we're dying of some obscure tropical disease, when we really just have a common cold.</p>
  <p>This application seeks to solve that problem.  Using the <a href="https://developer.infermedica.com" target="_blank">Infermedica Medical Diagnosis API</a>, we walk you through an intelligent interview process to provide you with the most likely possible diagnoses, and suggestions on next steps.</p>
  <p>Click "Diagnose Me!" below to get started!</p>  
</div>
<form class="start" action="#" method="post">
  <button type="submit" name="diagnose-me" id="diagnose-me" data-clickable="diagnoseMe">Diagnose Me!</button>
</form>
