<form class="interview-start" action="#" method="post">
  <fieldset>
    <legend>Tell Me About Yourself</legend>
    <label for="first-name">What can I call you?</label><br>
    <input type="text" name="first-name" placeholder="First Name"><br>
    <label for="age">How old are you?</label><br>
    <input type="number" name="age"><br>
    <label for="gender">Are you Male or Female?</label><br>
    <label for="male">Male</label>
    <input type="radio" name="gender" value="male" id="male">
    <label for="female">Female</label>
    <input type="radio" name="gender" value="female" id="female"><br>
    <button type="submit" name="submit" id="submit-interview-start" data-clickable="submitInterviewStart">Continue</button>
  </fieldset>
</form>
{{> disclaimer-text}}
