<aside class="interview-sidebar">
  <h3>You've Told Me</h3>
  <dl>
    <dt>Name:</dt>
    <dd>{{name}}</dd>
    <dt>Age:</dt>
    <dd>{{interview.age}}</dd>
    <dt>Gender:</dt>
    <dd>{{interview.sex}}</dd>
  </dl>
</aside>
