<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Question</th>
  </tr>
  {{#each riskFactors}}
    <tr>
      <td>{{id}}</td>
      <td>{{common_name}}</td>
      <td>{{question}}</td>
    </tr>
  {{/each}}
</table>
