<h2>Thanks for that information, {{name}}.</h2>
<p>The next few screens will ask you about some common risk factors.  Check any that apply to you.  This will help me make a more accurate diagnosis.</p>
<button type="submit" id="run-risk-factor" class="js-clickable">Continue</button>