
    <h2>Possible Conditions</h2>
    <p>Based on the information you have provided us, the following conditions are possible matches for your symptoms:</p>
    <div class="card-container">
        {{#each conditions}}
            {{> condition}}
        {{/each}}
    </div>