<h2>Hello, {{name}}!</h2>
<form class="symptom-entry" action="#" method="post">
  <label for="enter-symptoms">Tell me a little bit about your symptoms.  Don't worry about using fancy medical words if you don't know them - I can understand basic natural language.  However, you should be as specific as possible.  The phrase "I feel sick" may be too generic, but "my stomach is upset" or "I feel like vomiting" will get you better results.</label><br>
  <textarea name="enter-symptoms" placeholder="Enter symptoms" id="enter-symptoms"></textarea><br>
  <button type="submit" name="submit-symptoms" id="submit-symptoms" data-clickable="submitSymptoms">Submit Symptoms</button>
</form>
