<h2>Risk Factors</h2>
<form action="#" data-interview-name="{{name}}">
    <fieldset>
        {{#if prettyName}}
            <legend>{{prettyName}}</legend>
        {{/if}}
        <p>Select each statement that applies to you.</p>
        <ul id="errors" style="display: none;"></ul>
        {{#each questions}}
            {{> riskFactorInterviews_interview-question}}
        {{/each}}
        <label for="none">
            <input type="checkbox" name="choice" id="none" class="risk-factor-group filled-in" data-none=true data-group="risk-factor-group">
            <span>None</span>
        </label><br>
        <button type="submit" id="submit-risk-factors" data-clickable="submitRiskFactors" class="btn btn-large right">Continue</button>
    </fieldset>
</form>